<div class="column" style="border-bottom: 1px solid #a7b0c0; margin-top: 40px; border-bottom-width: 1px; padding: 0 0 30px 0;">
	<article class="media">		
		<div class="media-content">
			<div class="content">
				<p class="title is-4 has-text-black" style="overflow: hidden;">
					<span class="button questionNumber">{{ num }}</span> {{ q }}
				</p>
			</div>
			<div class="content">
				<p class="bd-notification is-primary has-text-black has-text-left">
					{{ res }}
				</p>
			</div>
		</div>
	</article>
</div>
