{% extends 'base.html' %} {% block bread %}
<nav class="breadcrumb has-bullet-separator" aria-label="breadcrumbs">
	<ul>
		<li style="content: none !important;"><a href="/" style="color: #9096a1;">Inicio</a></li>
		<li class="is-active">
			<a href="#" class="is-active" style="color: #2979ff;">Preguntas</a>
		</li>
	</ul>
</nav>
{% endblock bread %} {% block content %}

<div class="content">
	<div class="title center" style="color: #2979ff; font-weight: bold;">
		Preguntas frecuentes
		<div id="loading-indicator" class="loader-wrapper">
			<div class="loader is-loading"></div>
		</div>
	</div>
	<div class="columns is-centered is-center center">		
		<div class="column">
			{% include './includes/faq_question.html' with num=1 q='¿Cómo puedo saber si un pedido ya fue asistido?' res='Por ahora, ¡seguimos trabajando en las herramientas para mejorar la gestión de la ayuda en la plataforma!, mientras tanto solicitamos que se comuniquen con las personas que solicitan la ayuda y les consulten si ya fueron asistidos, también estamos recibiendo los números de pedidos a través de nuestros canales oficiales de comunicación para ir dando de baja los pedidos.' %}
			{% include './includes/faq_question.html' with num=2 q='¿Qué hago si mi pedido ya fue asistido?' res='Podés comunicarte a través de nuestros canales oficiales y dejarnos tu número de pedido para así darlo de baja, o pedirle a la persona que te ayudó que haga el reporte.' %}			
			{% include './includes/faq_question.html' with num=3 q='¿Qué hago si la dirección de la persona que contacté no coincide con la que aparece en la página web?' res='Si te encuentras en esta situación, instamos a que pidas a la persona que te diga cuál es la dirección correcta (ciudad, zona, calles, alguna referencia, número de casa) y te comuniques con nosotros dejando el número de pedido y la dirección correcta para corregir el pedido.' %}			
			{% include './includes/faq_question.html' with num=4 q='¿Cuándo va a llegar la ayuda?' res='Esta página no tiene relación con los programas de ayuda del Gobierno, para consultas al respecto dirigirse a las páginas correspondientes. Es una plataforma creada para el pueblo y somos una <strong>INICIATIVA NO GUBERNAMENTAL</strong>, todas las ayudas brindadas son exclusivamente voluntad de la sociedad, ¡y esperamos que la ayuda te llegue pronto!' %}						
			{% include './includes/faq_question.html' with num=5 q='Ante cualquier pedido de contacto con alguien que sea parte de la plataforma' res='Números de teléfonos NO serán facilitados, los medios de contacto para cualquier persona son a través de las redes sociales (Facebook, Instagram o Twitter) o en todo caso contactarse vía correo electrónico a <a href="mailto:davidvillegas15@gmail.com">argxvos@coderio.co</a>. <br /> <a href="/contacto">Ve nuestra info de contacto</a>' %}			
			{% include './includes/faq_question.html' with num=6 q='¿Qué hago si alguno de los datos que ingresé es incorrecto?' res='Por ahora podés comunicarte con nosotros a través de las redes sociales, indicando tu número de pedido, cuál es el dato erróneo y cuál es el dato correcto para poder hacer la modificación.' %}
			{% include './includes/faq_question.html' with num=7 q='¿Puedo inscribir a otra familia o persona?' res='Sí, podés completar el formulario. <br /> Es mejor si los datos son de la persona o familia que necesita ayuda. En caso de que esa familia no tenga forma de contacto, podés dejar tu número y especificar la situación en la descripción del pedido.' %}			
		</div>
	</div>
	{% endblock content %}
</div>
